[submodule "Wiki"]
	path = Wiki
	url = https://github.com/HyDE-Project/HyDE.wiki.git
[submodule "hydotfiles.wiki"]
	path = hydotfiles.wiki
	url = https://github.com/schmynth/hydotfiles.wiki.git
[submodule "themes/sddm/sddm-astronaut-theme"]
	path = themes/sddm/sddm-astronaut-theme
	url = https://github.com/Keyitdev/sddm-astronaut-theme
